.articleViewSelector {
    display: flex;
    align-items: center;
  }
  
  .type {
    margin-right: 8px;
  }
  
  .selected {
    margin-right: 8px;
    fill: var(--inverted-secondary-color);
  }
  