.listBox {
  position: relative;
}

.options {
  position: absolute;
  z-index: 10000;
  background-color: var(--list-box-bg);
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--list-box-bg);
}

.item {
  padding: 10px 20px;
}

.active {
  background: var(--inverted-primary-color);
  z-index: 1;
  overflow: hidden;
}

.disabled {
  opacity: 0.7;
}

.dropdownTop {
  bottom: 100%;
}
