@import "./reset.scss";
@import "./themes/darkTheme.scss";
@import "./themes/lightTheme.scss";
@import "./variables/global.scss";


.app{
    font: var(--font-m);
    background: var(--bc-color);
    color: var(--primary-color);
    height: 100vh;
}