.app.dark {
  --bc-color: rgb(0 0 109);
  --inverted-bc-color: rgb(156 246 156);
  --primary-color: red;
  --secondary-color: yellow;
  --inverted-primary-color: rgb(4 245 245);
  --inverted-secondary-color: aqua;
}
