:root {
  --bc-color: rgb(254 244 205);
  --inverted-bc-color: rgb(0 0 109);

  // --primary-color: rgb(36 54 54);
  --primary-color: rgb(154 137 10);
  --secondary-color: yellow;
  --inverted-primary-color: red;
  --inverted-secondary-color: rgb(0 255 21);
}
