.app_orange {
    --bc-color: #FF6C21;
    --inverted-bc-color: #FBF6F4;
    --primary-color: #FBF6F4;
    --secondary-color: #FF2929;
  
    // --inverted-primary-color: rgb(154 137 10);
    --inverted-primary-color: #FF2929;
    --inverted-secondary-color: #FF6C21;
        // skeleton
        --skeleton-color: #fff;
        --skeleton-shadow: rgba(0 0 0 / 20%);
        --code-bg: #ffa172;
  }
  