.ProfileCard {
  // max-width: 600px;
  border: 2px solid var(--inverted-bc-color);
  padding: 20px;
}

.input {
  margin-top: 10px;
}

.loading,
.error {
  border: 2px solid var(--inverted-bc-color);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.edited {
  border: 2px solid var(--inverted-secondary-color);
}

.selectWrapper {
  margin-top: 10px;
}
