.dropdown {
  position: relative;
  display: inline-block;
}

.button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: none;
}

.menu {
  position: absolute;
  z-index: 10000;
  border-radius: 12px;
  border: 1px solid var(--card-bg);
  background: var(--code-bg);
  display: flex;
  flex-direction: column;
}

.item {
  padding: 10px 20px;
  border: none;
  outline: none;
  background: none;
  color: var(--primary-color);
  width: 100%;
}

.active {
  background: var(--inverted-primary-color);
}

.disabled {
  opacity: 0.7;
}

.dropdownTopLeft {
  bottom: 100%;
  right: 0;
}

.dropdownTopRight {
  bottom: 100%;
  left: 0;
}

.dropdownBottomLeft {
  top: 100%;
  right: 0;
}

.dropdownBottomRight {
  top: 100%;
  left: 0;
}
