.commentCard {
  padding: 10px;
  border: 1px solid var(--primary-color);

  // margin-top: 20px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  margin-left: 8px;
}

.loading {
  border: none;
}
